* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1C25D9;
}

.container-principal {
  color: #fff;
  margin: 0 50vw 0 17vw;
  padding: 15vh 0;
}

.container-principal__texto-chamada {
  font-family: 'Changa', sans-serif;
  font-size: 72px;
  letter-spacing: -2px;
  line-height: 1.11;
  margin-bottom: 4rem;
}

.container-principal__botao-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21rem;
  height: 5rem;
  color: #1c25d9;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.botao-upload__icone {
  margin-right: 1rem;
}

.container-principal__texto {
  width: 21rem;
  font-size: 18px;
  line-height: 1.78;
  font-weight: normal;
  margin-top: 2rem;
}